.PlaceForGenres {
    height: auto;
    border: 3px solid rgba(34,34,34,0.6);
    border-radius: 3px;
}

.PlaceForGenres a:link{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 11px;
    color: black;
    padding: 10px 72px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

 a {
	color: black;
}

.PlaceForGenres a:hover {
    background-color: black;
    opacity: 0.4;
    color:white;

}

.watched-table td, .watched-table th {
	text-align: center;
	vertical-align: middle;
}


.watched-table td:nth-child(2), .watched-table th:nth-child(2) {
	text-align: left;
}


