<%- include('header') %>
<%- include('nav', { categories: categories, stores: stores }) %>
    
	<h2 class="m-5 text-center">Create an account</h2>
	<form class="mt-5 mb-5" method="post" action="/register">
		<div class="form-group row">
	  		<div class = "col-sm-3"></div>
	    	<label for="inputUname" class="col-sm-2 col-form-label">Username</label>
			<div class="col-sm-4">
	      		<input type="text" class="form-control" id="inputUname" name="username" placeholder="Username">
	    	</div>
	  	</div>
	  	
	  	<div class="form-group row">
	  		<div class = "col-sm-3"></div>
	    	<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-4">
	      		<input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
	    	</div>
	  	</div>
	  	
	  	<div class="form-group row">
	  		<div class = "col-sm-3"></div>
	    	<label for="inputFirstName" class="col-sm-2 col-form-label">First name</label>
			<div class="col-sm-4">
	      		<input type="text" class="form-control" id="inputFirstName" name="firstName">
	    	</div>
	  	</div>
	  	
	  	<div class="form-group row">
	  		<div class = "col-sm-3"></div>
	    	<label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
			<div class="col-sm-4">
	      		<input type="text" class="form-control" id="inputLastName" name="lastName">
	    	</div>
	  	</div>
	  	
	  	<div class="form-group row">
	  		<div class = "col-sm-3"></div>
	    	<label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
			<div class="col-sm-4">
	      		<input type="text" class="form-control" id="inputAdrress" name="address">
	    	</div>
	  	</div>
	  	
	  	<div class="form-group row">
	  		<div class = "col-sm-3"></div>
	    	<label for="inputPassword1" class="col-sm-2 col-form-label">Password</label>
	    	<div class="col-sm-4">
	      		<input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Password">
	    	</div>
	  	</div>
	  	
	  	<div class="form-group row">
	  		<div class = "col-sm-3"></div>
	    	<label for="inputPassword2" class="col-sm-2 col-form-label">Password again</label>
	    	<div class="col-sm-4">
	      		<input type="password" class="form-control" id="inputPassword2" name="passwordConfirmation" placeholder="Password">
	    	</div>
	  	</div>
	
	  	<div class="form-group row">
	  		<div class = "col-sm-3"></div>
	    	<div class="col-sm-6">
	      		<button type="submit" class="btn btn-primary">Sign in</button>
	    	</div>
	  	</div>
	</form>
	
	<%#<div th:if = "${errors != null}" class="alert alert-danger mr-5 ml-5 mt-5 mb-5" role="alert">
		<h4 class="alert-heading">Unsuccessful registration!</h4>
	  	<p th:each="error : ${errors}" th:text="${error}"></p>
	</div>%>
		
	<script src = "js/jquery.min.js"></script>
	<script src = "js/bootstrap.min.js"></script>
<%- include('footer') %>
